body {
    margin: 0;
    background-color: #333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    text-align: center;
    line-height: 1.5;
}
h2 {
    margin: 0;
    padding: 1em;
}
p {
    margin: 0;
    padding: 1em;
}
img {
    display: block;
    height: auto;
    width: 100%;
}
.bg {
    position: absolute;
    background-image: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

#headerid {
    text-align: center;
    min-height: 450px;
}
#headerid h1 {
    padding-top: 100px;
    padding-bottom: 0;
}
#headerid p {
    padding: 0 250px 0 250px;
    margin-bottom: 30px;
}
.bttn {
    background: #333;
    border: 1px solid #666;
    padding: 1em;
}
.bttn:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
}
#section-a {
    background: #eaeaea;
    color: #000;
    padding-bottom: 2em;
}

#section-b {
    display: grid;
    padding: 2em;
}
#section-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    padding-left: 11em;
    padding-right: 11em;
}
#section-b li {
    background: #fff;
    color: #333;
    width: 31%;
    margin-bottom: 1em;
}
#section-c {
    background: white;
    color: #000;
    padding: 2em;
}
#section-d {
    display: flex;
}
.one_block {
    background: #2690d4;
    width: 50%;
    padding: 2em 1em 2em 1em;
}
.two_block {
    width: 50%;
    padding: 2em 1em 2em 1em;
}
#footer {
    background: #000;
    display: flex;
    padding: 2em 1em 2em 1em;
}
.left {
    width: 50%;
}
.right {
    width: 50%;
}
